header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.logo {
  display: flex;
  padding-left: 30px;
  margin-right: 12px;
}

.title {
  color: MediumAquamarine;
  width: 865px;
}

nav a {
  padding: 20px 10px;

}

nav {
  display: flex;
}

.BodyContainer {
  display: flex;
  width: 1232px;
  margin: 0px auto 78px auto;
  padding-top: 116px;
}

.column-large,
.column-medium,
.column-small {
  margin-right:;
  font-family: Georgia;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}

.column-large {
  width: 630px;

  margin-right: 32px;
}

.column-medium {
  width: 300px;
  margin-right: 32px;
}

.column-small {
  width: 240px
}

.lar-4,
.lar-6,
.med-2 {
  font-weight: bold;
  color: white;
  font-size: 30px;
  height: 300px;
  margin-top: 15px;
  text-align: center;
}

.lar-1 {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
  font-weight: bold;
  color: white;
  height: 300px;
}

.lar-4 {
  background-image: url("../images/img-story-2.png");
}

.lar-6 {
  background-image: url("../images/img-story-3.png");
}

.med-2 {
  background-image: url("../images/img-story-1.png");
}

.lar-3456 {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  align-items: flex-end;
}

.lar-block-story-1,
.lar-block-story-2 {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.lar-3 {
  height: 246px
}

.column-large,
.column-medium,
.column-small,
.lar-1,
.lar-2,
.lar-3,
.lar-4,
.lar-5,
.lar-6,
.med-1,
.med-2,
.med-3,
.sma-1 {
  border: 1px solid black;
}
